.popup__save-btn {
  background-color: #000;
  border: none;
  border-radius: 2px;
  width: 100%;
  color: #fff;
  margin-top: 48px;
  padding: 14px 0 18px;
}

.popup__save-btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}