.profile__info {
  max-width: 100%;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 16px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    row-gap: 14px;
  }
}